body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: auto;
}
nav {
    background-color: #444;
    text-align: center;
    padding: 10px 0;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
section {
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
form {
    max-width: 400px;
    margin: auto;
}
input[type="text"],
input[type="email"],
input[type="message"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
#about img {
    max-width: 100px; 
    height: auto;
    border-radius: 50%;
    border: 3px solid black;

}